<?php include('../AppBundle/Controller/CrudMember.php'); ?>

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Baarns Mannenkoor{% endblock %}</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/css/foundation-float.css"/> 
        
        {% stylesheets filter='cssrewrite' output="css/main.css"
            "%kernel.root_dir%/Resources/assets/css/main.css"        
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
         <img src="{{ asset('images/header.jpg') }}" />
        
<nav>
    <table>
        <tr>
            <td class="nav"><a href="#">Home</a></td>        
            <td class="nav"><a href="#">Inloggen</a></td>
            <td class="nav"><a href="#">Link</a></td>
            <td class="nav"><a href="#">Link</a></td>
        </tr>
    </table>
</nav>

        {% block body %}

       



        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
