/* aanpassing van css het volgende in cmder runnen: php bin/console assetic:watch */


* {
    font-family: 'Calibri', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
   }

#appbundle_memberdate li {
    color:red;
}
.button {
    margin: 0.5rem 0.5rem;
    display: flex;
    justify-content: center;
    float: left;
    width: 5rem;
    background-color: #2377AF;
    box-shadow: 3px 3px 3px black;
    border-radius: 2px;
}

.button:hover {
    background-color: rgb(65, 53, 119);
    box-shadow: 3px 3px 3px black;
}

h3 {
    background-color:  #2377AF;
    color: white;
    text-align: center;
}

nav {
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: space-between;
  padding: 0;

}

nav td {
    padding: 0;
}

form {
   margin-left: 3rem;
   margin-right: 3rem;
   
}

ul {
    list-style: none;
 
}


