{% extends 'base.html.twig' %}

{% block body %}
    <h3>Lid invoeren</h3>

            <a href="{{ path('lidBewerken_index') }}">Terug naar overzicht</a>
    
    {{ form_start(form)}}
        {{ form_widget(form) }}
        <input class="button" type="submit" value="Aanmaken" />
    {{ form_end(form) }}

   
{% endblock %}
